absl-py==1.4.0
accelerate==0.33.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1724167852130/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1724171189896/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
albucore @ file:///home/conda/feedstock_root/build_artifacts/albucore_1724942913978/work
albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1724139891215/work
alembic==1.13.2
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1724753941878/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio==4.4.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
array_record==0.5.1
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
asttokens==2.4.1
async-generator==1.10
async-lru @ file:///croot/async-lru_1699554519285/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs==24.2.0
audioread @ file:///home/conda/feedstock_root/build_artifacts/audioread_1725357477663/work
babel==2.16.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bert-score==0.3.13
binaryornot==0.4.4
bleach==6.1.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1696148823818/work
boltons @ file:///croot/boltons_1677628692245/work
bpe==1.0
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1724028158384/work
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1695626416888/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
certipy==0.1.3
cffi==1.17.0
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1724954807150/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1708995864616/work
colabtools==0.0.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
conda @ file:///croot/conda_1722004606466/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1721662679737/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1701179078465/work
conllu @ file:///home/conda/feedstock_root/build_artifacts/conllu_1720875909861/work
contourpy==1.3.0
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1708608886262/work
cryptography==43.0.0
cycler==0.12.1
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1695443486769/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1724960614932/work
dataclasses-json==0.6.7
dataclassy @ file:///home/conda/feedstock_root/build_artifacts/dataclassy_1673711725182/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1723662581198/work
debugpy==1.8.5
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
dirtyjson==1.0.8
distro @ file:///croot/distro_1714488253808/work
dm-tree==0.1.8
easydict==1.13
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1714285159399/work
elastic-transport==8.15.0
elasticsearch==8.15.0
emoji @ file:///home/conda/feedstock_root/build_artifacts/emoji_1716215611530/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
etils==1.5.2
eval_type_backport @ file:///home/conda/feedstock_root/build_artifacts/eval_type_backport_1724150075856/work
evaluate @ file:///home/conda/feedstock_root/build_artifacts/evaluate_1697442180934/work
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.15.4
fire @ file:///home/conda/feedstock_root/build_artifacts/fire_1710221570630/work
FlagEmbedding==1.2.11
fonttools==4.53.1
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645466206/work
fsspec==2024.6.1
gensim @ file:///home/conda/feedstock_root/build_artifacts/gensim_1707360331978/work
gguf @ file:///home/conda/feedstock_root/build_artifacts/gguf_1702411487171/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
googleapis-common-protos==1.65.0
greenlet==3.0.3
grpcio==1.66.1
h11==0.14.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
httpcore==1.0.5
httpx==0.27.2
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1724106245647/work
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1720456301165/work
hypothesis==6.111.2
idna==3.8
imagecodecs @ file:///croot/imagecodecs_1695064943445/work
imageio @ file:///croot/imageio_1707247282708/work
importlib_metadata==8.4.0
importlib_resources==6.4.4
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
inquirerpy==0.3.4
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
isoduration==20.11.0
jedi @ file:///croot/jedi_1721058342488/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
jiter==0.5.0
jiwer @ file:///home/conda/feedstock_root/build_artifacts/jiwer_1714905073724/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5==0.9.25
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==3.0.0
jsons @ file:///home/conda/feedstock_root/build_artifacts/jsons_1654821024619/work
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter @ file:///croot/jupyter_1707947101020/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterhub==5.1.0
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1714235526219/work
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1714193818885/work
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1715792228054/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1725334241506/work
llama-index==0.9.40
llvmlite @ file:///croot/llvmlite_1720455102465/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1715598427162/work
Mako==1.3.5
marisa-trie @ file:///home/conda/feedstock_root/build_artifacts/marisa-trie_1706566454764/work
Markdown==3.7
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
markdownify @ file:///home/conda/feedstock_root/build_artifacts/markdownify_1721225304754/work
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
menuinst @ file:///croot/menuinst_1723567589013/work
mistune==3.0.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mock==5.1.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
mteb==1.14.15
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040720863/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1724954602494/work
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1695449775524/work
mypy==1.11.2
mypy-extensions==1.0.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1725069827519/work
nbclient==0.10.0
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1718135430380/work
nbformat==5.10.4
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1717597493534/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1724022741962/work
notebook==7.2.2
notebook_shim==0.2.4
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888028049/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
openai==1.43.0
opencv-python==4.10.0
opencv-python-headless==4.10.0
overrides==7.7.0
packaging @ file:///croot/packaging_1720101850331/work
pamela==1.2.0
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897627815/work
pandocfilters==1.5.1
parso==0.8.4
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
peft==0.12.0
pexpect==4.9.0
pfzy==0.3.4
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1721059439630/work
platformdirs==4.2.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply==3.11
polars==1.6.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1720928539791/work
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1695644743185/work
prometheus_client==0.20.0
promise==2.3
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==6.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval==0.2.3
pyarrow==17.0.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycocotools @ file:///home/conda/feedstock_root/build_artifacts/pycocotools_1719291259981/work
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser==2.22
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1720293063581/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1720041203964/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1667589451974/work
Pygments==2.18.0
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1718652772891/work
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1721923606331/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify-split_1707425621764/work
pytrec-eval-terrier==0.5.6
pytz @ file:///croot/pytz_1713974312559/work
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole @ file:///croot/qtconsole_1709231153903/work
QtPy @ file:///croot/qtpy_1700144840038/work
rapidfuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1725361081782/work
referencing==0.35.1
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1724957097618/work
requests @ file:///croot/requests_1721410876868/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rouge-score @ file:///home/conda/feedstock_root/build_artifacts/rouge-score_1683997011467/work
rpds-py==0.20.0
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
sacrebleu @ file:///home/conda/feedstock_root/build_artifacts/sacrebleu_1723914177181/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1725336695725/work
scikit-image @ file:///croot/scikit-image_1707346116243/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1719998091481/work/dist/scikit_learn-1.5.1-cp39-cp39-linux_x86_64.whl#sha256=74d27d0bc0b9c7de5c8dd9753f4472286e8697aedd6c0c4b476fa79d80f3cb64
scipy @ file:///croot/scipy_1717521478074/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=2cb3d1436f8762a53161486cb9493ccc305fc760e8f830f82888792cbaf99099
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
Send2Trash==1.8.3
sentence-transformers==3.0.1
sentencepiece @ file:///home/conda/feedstock_root/build_artifacts/sentencepiece-split_1724398987042/work/python
seqeval==1.2.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1711455333245/work/dist
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1707770822412/work
soupsieve==2.6
soxr @ file:///home/conda/feedstock_root/build_artifacts/soxr-python_1725345630956/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1722252008322/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
SQLAlchemy==2.0.32
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1695654022923/work
stack-data==0.6.3
stanza @ file:///home/conda/feedstock_root/build_artifacts/stanza-meta_1713705888947/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1715941226684/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1724805862649/work
subword-nmt==0.3.8
sympy @ file:///croot/sympy_1724938189289/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1720351771156/work
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.3
tensorflow-metadata==1.14.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
terminado==0.18.1
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1694707102786/work
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1720971417931/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///croot/tifffile_1695107451082/work
tiktoken==0.7.0
timm==1.0.9
tinycss2==1.3.0
tokenizers==0.20.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz==0.12.1
torch==2.4.0
torchaudio==2.4.0
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1715837061745/work
torchvision==0.19.0
tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.66.5
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.45.2
triton==3.0.0
typer==0.12.5
typer-slim==0.12.5
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1724221107168/work
typing-inspect==0.9.0
typing_extensions==4.12.2
typish @ file:///home/conda/feedstock_root/build_artifacts/typish_1628254486386/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1724952114835/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1723656013607/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1718912636303/work
validators @ file:///home/conda/feedstock_root/build_artifacts/validators_1721024375655/work
warcio==1.7.4
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1715409628717/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1716561776050/work
wcwidth==0.2.13
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1719987001521/work
webcolors==24.8.0
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wikitextparser==0.56.2
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1724957874465/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1725272038428/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1725262278652/work
zipp==3.20.1
zstandard @ file:///croot/zstandard_1714677652653/work
